<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Dashboard - IBM Bank</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    <nav class="navbar navbar-expand-lg navbar-custom">
  <a class="navbar-brand" href="#">IBM Bank</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item"><a class="nav-link" routerLink="/dashboard">Inicio</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/transactions">Extrato</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/logout">Até já</a></li>
  </ul>
</nav>

<div class="container dashboard-container">
  <div class="text-center">
    <h2>Que bom te ver aqui, {{ account.username }}</h2>
    <h3>Seu saldo é: R$ {{ account.balance }}</h3>
  </div>

  <div class="account-details">
    <h4>Detalhes da Conta</h4>
    <p><strong>Número da conta:</strong> {{ account.id }}</p>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-3">
      <button class="btn btn-block btn-primary" type="button" (click)="toggleForm('depositForm')">
        Depósito
      </button>
      <div *ngIf="showDepositForm" class="mt-3">
        <form (ngSubmit)="onDeposit()">
          <div class="form-group">
            <label>Total:</label>
            <input type="number" class="form-control" [(ngModel)]="depositAmount" name="amount" required />
          </div>
          <button type="submit" class="btn btn-block btn-success">Salvar</button>
        </form>
      </div>
    </div>

    <div class="col-md-3">
      <button class="btn btn-block btn-primary" type="button" (click)="toggleForm('withdrawForm')">
        Bora sacar?
      </button>
      <div *ngIf="showWithdrawForm" class="mt-3">
        <form (ngSubmit)="onWithdraw()">
          <div class="form-group">
            <label>Valor:</label>
            <input type="number" class="form-control" [(ngModel)]="withdrawAmount" name="amount" required />
          </div>
          <button type="submit" class="btn btn-block btn-success">Salvar</button>
        </form>
      </div>
    </div>

    <div class="col-md-3">
      <button class="btn btn-block btn-primary" type="button" (click)="toggleForm('transferForm')">
        Hora de Pagar Boleto
      </button>
      <div *ngIf="showTransferForm" class="mt-3">
        <form (ngSubmit)="onTransfer()">
          <div class="form-group">
            <label>Destinatário:</label>
            <input type="text" class="form-control" [(ngModel)]="transferRecipient" name="toUsername" required />
          </div>
          <div class="form-group">
            <label>Valor:</label>
            <input type="number" class="form-control" [(ngModel)]="transferAmount" name="amount" required />
          </div>
          <button type="submit" class="btn btn-block btn-success">Enviar</button>
        </form>
      </div>
    </div>
  </div>

  <p *ngIf="errorMessage" class="error text-center mt-3">{{ errorMessage }}</p>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
