<title> Extrato - IBM Bank</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-custom">
  <a class="navbar-brand" href="#">IBM Bank</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item"><a routerLink="/dashboard" class="nav-link">Início</a></li>
    <li class="nav-item"><a routerLink="/transactions" class="nav-link">Extrato</a></li>
    <li class="nav-item"><a routerLink="/logout" class="nav-link">Até já</a></li>
  </ul>
</nav>

<div class="container">
  <h2 class="text-center">Extrato</h2>
  <div class="table-responsive table-custom">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Tipo</th>
        <th>Valor</th>
        <th>Data</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.id }}</td>
        <td>{{ transaction.type }}</td>
        <td [ngClass]="isPositiveTransaction(transaction.type) ? 'sucesso' : 'erro'">
          {{ isPositiveTransaction(transaction.type) ? '+' : '-' }}${{ transaction.amount }}
        </td>
        <td>{{ transaction.timestamp }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <p class="text-center">
    <a routerLink="/dashboard" class="custom-link">Vamos para o início!</a>
  </p>
</div>
