<title>Registre-se - IBM Bank</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container">
  <h2 class="text-center">Cadastre-se</h2>
  <form (ngSubmit)="onRegister()">
    <div class="form-group">
      <label>Nome:</label>
      <input type="text" class="form-control" [(ngModel)]="username" name="username" required />
    </div>
    <div class="form-group">
      <label>Idade:</label>
      <input type="number" class="form-control" [(ngModel)]="age" name="age" min="1" required />
    </div>
    <div class="form-group">
      <label>Email:</label>
      <input type="email" class="form-control" [(ngModel)]="email" name="email" required />
    </div>
    <div class="form-group">
      <label>Numero da conta:</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password" required />
    </div>
    <button type="submit" class="btn btn-block">Cadastrar-se</button>
  </form>

  <p class="text-center mt-3">Já possui conta? <a routerLink="/login" class="custom-link">Faça o login</a></p>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3 text-center">
    {{ errorMessage }}
  </div>
</div>
